/*
    Made by Jordan Hoosman
*/

#LargeLinks {
    z-index: 5;
    position: absolute;
	
	top: calc(var(--ll-top));
	left: calc(var(--ll-left));
	width: calc(2 * var(--ll-width) + var(--ll-buffer));
	height: calc(2 * var(--ll-width) + var(--ll-buffer));
}
.LL {
    z-index: 5;
    position: fixed;

	top: calc(-1 * var(--ll-size) - 5px);
	left: var(--ll-left);
    width: var(--ll-width);
    height: var(--ll-height);

    border: 1px solid;
    border-color: white;

    overflow: hidden;
}
.LLTitle {
    text-align: center;
    font-size: 30px;
    color: white;
    
    border-top: 1px solid white;

    position: absolute;
    padding: 0;

    width: 100%;
    bottom: 0;
}
.LLTitle:hover {
    cursor: pointer;
}
.LLTitle h3 {
    margin: 5px 0;
}

.LLLeft {
    left: calc(var(--ll-left));
}
.LLRight {
    left: calc(var(--ll-left) + var(--ll-width) + var(--ll-buffer));
}

#LLCraneGIF, #LLCraneGIFcpy {
    position: absolute;
	
	top: 10px;
    left: calc(80% - 75px);
    width: 75px;
    height: 75px;
}
#LLCraneGIFcpy {
	opacity: 0.0;
}

#LLPianoShadow {
    width: 300px;
    height: 140px;
    bottom: 50px;

    position: absolute;
    margin-left: calc(50% - 150px);
}
.LLNote {
    position: absolute;

    width: 10px;
    height: 20px;
}

#LLSequence {
    position: absolute;
    top: 18%;
    word-spacing: -4px;
    padding: 0;
}
#LLSeqSpace {
    margin-left: 5px;
    margin-right: 5px;
}
#LLSequence h2 {
    color: green;
    opacity: 0.5;
    display: inline-block;
}

.LLMail {
    position: absolute;

    width: 20px;
    height: 10px;
}

.LLLightningBall {
    position: absolute;

    width: 65px;
    height: 65px;
}

#LLDiv {
    z-index: 7;

	opacity: 0.0;

    position: absolute;
    width: 1px;
    height: 98%;
    top: 1%;
    left: calc(var(--ll-left) + (var(--ll-size) * 2) + var(--ll-buffer) + 3vw );

    color: white;
    border-left: 1px solid;
}

#WelcomeAnimation {
	z-index: 9;
	position: absolute;
	color: white;
}
.WAText {
	overflow-wrap: anywhere;
	text-align: center;
}
#WAText1 {
	margin-top: 10px;
}
#WAText2 {
	position: absolute;
	bottom: 5px;
}